<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!--  open graph  -->
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="bookReview"/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>

    <!-- css reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
          integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!--  css & js -->
    <link rel="stylesheet" href="../static/css/main.css"/>
    <script defer src="../static/js/main.js"></script>
    <link rel="icon" href="../static/image/book_logo.png"/>

    <title>책리뷰</title>
</head>
<body>
<div class="wrap">

    <div class="nav-bar">
        <a class="mainPage" href="index.html">
            <img src="../static/image/book_logo.png" alt="book_logo"/>
        </a>

        <div class="title">
            모두의 책 리뷰
        </div>

        <div class="main_menu">
            <a class="sign_in" href="javascript:void(0)">sign in</a>
        </div>


    </div>

    <div class="review">
        <input type="text" placeholder="책 제목을 입력해주세요." id="reviewTitle"/>
        <input type="text" placeholder="책 내용, 저자, 발간일을 입력해주세요." id="reviewMemo"/>
        <button class="review_button" href="javascript:void(0)">책 등록</button>
    </div>



    <div class="book-review">
        <div class="bestSeller">
            <img class="book_img" src="../static/image/bgimg1.jpg"/>
            <div class="book_title">book title</div>
            <hr>
            <div class="book_reviewTitle">book review title</div>
        </div>
        <div class="bestSeller">
            <img class="book_img" src="../static/image/bgimg1.jpg"/>
            <div class="book_title">book title</div>
            <hr>
            <div class="book_reviewTitle">book review title</div>
        </div>
        <div class="bestSeller">
            <img class="book_img" src="../static/image/bgimg1.jpg"/>
            <div class="book_title">book title</div>
            <hr>
            <div class="book_reviewTitle">book review title</div>
        </div>
        <div class="bestSeller">
            <img class="book_img" src="../static/image/bgimg1.jpg"/>
            <div class="book_title">book title</div>
            <hr>
            <div class="book_reviewTitle">book review title</div>
        </div>
        <div class="bestSeller">
            <img class="book_img" src="../static/image/bgimg1.jpg"/>
            <div class="book_title">book title</div>
            <hr>
            <div class="book_reviewTitle">book review title</div>
        </div>
        <div class="bestSeller">
            <img class="book_img" src="../static/image/bgimg1.jpg"/>
            <div class="book_title">book title</div>
            <hr>
            <div class="book_reviewTitle">book review title</div>
        </div>
        <div class="bestSeller">
            <img class="book_img" src="../static/image/bgimg1.jpg"/>
            <div class="book_title">book title</div>
            <hr>
            <div class="book_reviewTitle">book review title</div>
        </div>
    </div>
</div>

</body>
</html>